.checkout-container {
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.1);
  padding: 0 2%;
  font-family: var(--lato);
  box-sizing: border-box;
  overflow: scroll;
}

.cart-checkout-container {
  display: flex;
  gap: 40px;
  width: 100%;
}

.cart-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.cart-header-container {
  width: 100%;
  padding: 2% 5%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  justify-content: space-between;
  box-sizing: border-box;
}

.cart-header-left-info-container {
  display: flex;
  flex-direction: column;
}

.cart-title {
  font-size: 2rem;
  font-weight: 600;
}

.cart-header-right-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cart-price-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.cart-item-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 4% 2%;
  border-bottom: 1px solid gray;
  box-sizing: border-box;
}

.cart-item-image-container {
  width: 220px;
  height: auto;
  box-shadow: 0 0 10px 0px gray;
}

.cart-item-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* width: 220px;
  height: 220px; */
}

.cart-item-description-container {
  width: 100%;
  padding: 2% 2%;
  background: hsla(0, 0%, 0%, 0.1);
  box-shadow: 5px 0 10px 0px gray;
  position: relative;
}

.cart-description-price-container {
  display: flex;
  justify-content: space-between;
}

.cart-description-description {
  padding: 0 5% 2% 2%;
}

.cart-description-price {
  font-size: 1.1rem;
  font-weight: 600;
}

.cart-description-stock-quantity-delete-container {
  padding: 1% 2%;
  box-sizing: border-box;
  /* height: ; */
}

.cart-description-stock {
  color: green;
}

.cart-description-quantity-container label {
  font-size: 0.85rem;
}

.cart-description-quantity {
  text-align: center;
}

.cart-description-delete {
  position: absolute;
  right: 5%;
  bottom: 4%;
  font-size: 0.85rem;
  color: tomato;
  cursor: pointer;
}

.checkout-wrapper {
  width: 400px;
  max-width: 450px;
  min-width: 300px;
  height: 35rem;
  background-color: hsla(0, 0%, 0%, 0.19);
  border-radius: 20px;
  box-shadow: 0 0 10px gray;
  padding: 2%;
  box-sizing: border-box;
  position: relative;
}

.checkout-box {
  display: flex;
  flex-direction: column;
  padding: 5% 2%;
  gap: 40px;
}

.delivery-message,
.free-delivery-message {
  color: red;
  background-color: var(--accent1-1);
  padding: 2% 5%;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  text-align: center;
  font-size: 0.9rem;
}

.free-delivery-message {
  color: greenyellow;
}

.subtotal-title-price-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subtotal-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.subtotal-price {
  font-size: 1.2rem;
  font-weight: 600;
}

.checkout-delivery-option-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 8% 5% 13% 5%;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 10px;
}

.checkout-delivery-option-container label {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.checkout-delivery-option-container input {
  cursor: pointer;
}

.checkout-btn {
  width: 80%;
  height: 50px;
  align-self: center;
  border-radius: 10px;
  border: none;
  position: absolute;
  bottom: 50px;
  background-color: var(--accent1-1);
  color: var(--primary1);
  font-size: 1.1rem;
  letter-spacing: 2px;
  transition: transform 100ms ease;
}

.checkout-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 1220px) {
  .cart-checkout-container {
    justify-content: space-between;
  }

  .cart-description-price {
    font-size: 0.95rem;
  }

  .cart-description-delete {
    font-size: 0.8rem;
  }
  .checkout-wrapper {
    width: 200px;
    min-width: 170px;
    height: 22rem;
  }

  .checkout-box {
    gap: 24px;
  }

  .delivery-message {
    font-size: 0.8rem;
    color: tomato;
  }

  .subtotal-title-price-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .subtotal-title {
    font-size: 0.85rem;
  }

  .checkout-delivery-option-container {
    gap: 15px;
    padding: 5%;
  }

  .checkout-delivery-option-container label {
    font-size: 0.75rem;
    letter-spacing: 0;
  }

  .checkout-btn {
    width: 75%;
    font-size: 0.8rem;
    letter-spacing: 0;
    padding: 1%;
    height: 40px;
    color: lawngreen;
  }
}

@media (max-width: 850px) {
  .checkout-container {
    width: 100vw;
  }

  .cart-checkout-container {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .checkout-wrapper {
    order: 1;
    min-width: 100%;
    height: 10rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkout-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20% 80%;
    grid-template-areas: "message message message" "sub-total delivery checkout";
    padding: 2%;
    justify-self: center;
    row-gap: 20px;
  }

  .free-delivery-message {
    grid-area: message;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .subtotal-title-price-container {
    grid-area: sub-total;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart-title {
    font-size: 1.6rem;
  }
  .checkout-delivery-option-container {
    grid-area: delivery;
    justify-self: center;
    align-self: center;
    width: 80%;
    height: 80%;
    padding: 1% 10%;
    gap: 5px;
  }

  .checkout-delivery-label,
  .checkout-pickup-label {
    padding: 0;
  }

  .checkout-btn {
    grid-area: checkout;
    justify-self: center;
    font-size: clamp(0.7rem, 1.6vw, 0.75rem);
  }

  .cart-wrapper {
    order: 2;
    min-width: 100%;
  }

  .cart-item-image-container {
    width: 40%;
    height: 100%;
  }

  .cart-item-description-container {
    font-size: clamp(0.7rem, 2vw, 1rem);
  }

  .cart-description-quantity-container > .cart-description-quantity-title {
    font-size: clamp(0.65rem, 1.7vw, 0.8rem);
  }
}

@media (max-width: 550px) {
  .checkout-box {
    row-gap: 5px;
  }
  .checkout-delivery-option-container {
    width: 90%;
    padding: 1% 4%;
    height: 50%;
  }

  .cart-checkout-container {
    gap: 20px;
  }

  .checkout-delivery-option-container > label {
    font-size: 0.65rem;
  }
}
