.footer-container {
  position: fixed;
  bottom: 0;
  width: 100vw;
  color: var(--primary1);
  background-color: var(--accent1-1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0.5em;
  font-family: var(--lato);
  font-size: 0.85em;
  font-weight: 300;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary1);
}

.rocket-icon {
  font-size: 1.2rem;
}
