@import "var.css";

.header-wrapper {
  position: sticky;
  display: flex;
  min-height: 4rem;
  width: 100%;
  /* padding: 4% 10%; */
  justify-content: center;
  background-image: linear-gradient(182deg, black 0%, #d09577 120%);
}

.header-container {
  min-width: 80rem;
  width: clamp(60rem, 75rem, 80rem);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 720px) {
  .header-container {
    height: 90px;
    display: grid;
    gap: 0;
    grid-template-rows: 50% 50%;
    grid-template-columns: 55% 45%;
    grid-template-areas:
      "logo nav"
      "search search";
  }
}

@media (max-width: 460px) {
  .header-container {
    grid-template-columns: 50% 50%;
  }
}

.logo-container {
  width: 33.34%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

@media (max-width: 720px) {
  .logo-container {
    width: 100%;
    grid-area: logo;
    display: flex;
    justify-content: center;
  }
}

.silya-img {
  width: 44px;
  height: 80%;
  transform: scaleX(1.1);
  filter: invert(97%) sepia(100%) saturate(1000%) hue-rotate(315deg);
  /* filter: hue-rotate(180deg); */
}

@media (max-width: 720px) {
  .silya-img {
    width: 38px;
  }
}

.silya {
  font-size: 2.5rem;
  font-weight: 600;
  transform: scaleY(1.1);
  margin-bottom: 1.4%;
}

@media (max-width: 1280px) {
  .silya {
    letter-spacing: 2px;
  }
}

@media (max-width: 1124px) {
  .silya {
    letter-spacing: 0;
  }
}

.slogan,
.silya {
  font-family: var(--playfair);
  background-clip: text;
  background-image: linear-gradient(
    15deg,
    rgb(176, 142, 18) 0%,
    rgb(237, 193, 36) 23%,
    rgb(248, 247, 241) 30%,
    rgb(237, 193, 36) 47%,
    rgb(237, 193, 36) 63%,
    rgb(248, 247, 241) 70%,
    rgb(237, 193, 36) 77%,
    rgb(176, 142, 18) 100%
  );
  color: transparent;
  letter-spacing: 1px;
}

.slogan {
  font-size: 1rem;
  transform: scaleY(0.8);
  border-bottom: 1px solid gold;
  padding-bottom: 1%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1280px) {
  .slogan {
    letter-spacing: 1px;
    font-size: 0.9rem;
  }
}

@media (max-width: 1124px) {
  .slogan {
    text-align: center;
    letter-spacing: 0;
    font-size: 0.8rem;
  }
}

@media (max-width: 460px) {
  .slogan {
    display: none;
  }
}

.search-container {
  width: 33.34%;
  display: flex;
  align-items: center;
  padding: 0rem 0.5rem;
  justify-content: space-between;
  min-height: 30px;
  background-color: var(--accent1-2);
  border-radius: 5px;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  .search-container {
    grid-area: search;
    min-width: 90%;
    justify-self: center;
  }
}

/* search and camera icon */
.search-container .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent1-1);
}

.search-photo-icon {
  position: relative;
  cursor: pointer;
}

.search-photo-icon:hover::before {
  content: "Search SILYA products using a photo";
  font-family: var(--roboto);
  color: var(--primary1);
  white-space: nowrap;
  position: absolute;
  font-size: 0.7rem;
  padding: 5px 10px;
  background-color: var(--accent1-1);
  border: none;
  border-radius: 5px;
  top: 150%;
}

.search {
  width: 78%;
  height: 30px;
  background-color: var(--accent1-2);
  border: none;
}

.search:focus {
  outline: none;
}

.nav-container {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 720px) {
  .nav-container {
    grid-area: nav;
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }
}
