@import "var.css";
@import "animation.css";

.home-container {
  width: 100%;
  display: flex;
  height: 100%;
  /* border: 10px solid red; */
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2%;
  overflow: hidden;
}

.home-image-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 23%) 27% 23%;
  grid-template-rows: 39% 19% calc(100% - 58% - 2.5rem);
  grid-template-areas:
    "img1 img1 img5 desc"
    "img3 img4 img5 desc"
    "img3 img4 img2 desc";
  gap: 20px;
  /* position: absolute; */
}

.single-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
/* 
.single-image-container img {
  transition: transform 0.3s;
} */

.img1-container {
  grid-area: img1;
  animation: slide-right 0.5s ease-in 0.5s forwards,
    show 1s ease-out 0.5s forwards;
}

.home-image1 {
  object-position: 0px center;
}

.img2-container {
  grid-area: img2;
  animation: slide-left 0.5s ease-in 1s forwards, show 0.5s ease-out 1s forwards;
}

.home-image2 {
  object-position: -20px;
}

.img3-container {
  grid-area: img3;
  animation: expand 3s ease-in forwards, show 3s ease-out 1s forwards;
}

.home-image3 {
  object-position: -230px;
}

.img4-container {
  grid-area: img4;
  animation: slide-up 0.5s ease-in 0.6s forwards, show 1s ease-out 0.6s forwards;
}

.home-image4 {
  object-position: -140px;
}

.img5-container {
  grid-area: img5;
  animation: rotate3 2s ease-in forwards, show 3s ease-out 1s forwards;
}

.home-image5 {
  object-position: 0px;
}

.home-image {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform ease-out forwards;
  transition-duration: 500ms;
  z-index: 10;
}

.home-image:hover {
  transform: scale(1.2);
  /* animation: scale 1s linear forwards; */
}

.content-description-container {
  font-size: 2.8rem;
  grid-area: desc;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--primary1);
  box-sizing: border-box;
  line-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: show 2s ease-out 2.5s forwards;
  padding: 1rem;
  position: relative;
}

em {
  filter: opacity(1);
  width: 90%;
  /* position: absolute; */
}

strong {
  font-family: var(--jost);
  color: var(--accent3-1);
  font-style: normal;
  font-size: 3.2vw;
}

.quote1 {
  position: absolute;
  animation: hide 2s linear 4.5s forwards;
  height: 100%;
}

.quote2 {
  position: absolute;
  opacity: 0;
  height: 100%;
  animation: show 2s linear 6.5s forwards, expand 2s linear 6.5s forwards;
}

@media (max-width: 1220px) {
  .home-image-container {
    overflow: hidden;
    grid-template-columns: repeat(2, 23%) 25% 22%;
    /* top: 0;
    left: 0; */
  }

  .content-description-container {
    font-size: 3.8vw;
  }

  strong {
    font-size: 4vw;
  }
}

@media (max-width: 1080px) and (max-height: 450px) {
  .home-container {
    height: 100%;
  }

  .quote1,
  .quote2 {
    font-size: 1.6rem;
  }

  .home-image2,
  .home-image3,
  .home-image4 {
    object-position: 0;
  }
  strong {
    font-size: 2.2vw;
  }
}
@media (max-width: 920px) and (min-height: 451) {
  .home-container {
    padding: 2%;
  }
  .home-image-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 8% 9% 40%;
    grid-template-rows: 40% 40% 20%;
    grid-template-areas:
      "img4 img1 img1 img1"
      "img5 img5 img5 img2"
      "desc desc desc desc";
    gap: 10px;
    left: -2%;
    top: 6%;
    z-index: 0;
  }

  .home-image1,
  .home-image2,
  .home-image4,
  .home-image5 {
    object-position: 0;
  }

  .content-description-container {
    font-size: 4vw;
    padding: 0;
    line-height: 0;
  }

  strong {
    font-size: 4vw;
  }
}

@media (max-width: 420px) {
  .home-container {
    width: 100vw;
  }
  .home-image-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .home-image2,
  .home-image3,
  .home-image4 {
    object-position: 0;
  }

  .content-description-container {
    font-size: 8vw;
    line-height: 40px;
  }

  .quote1,
  .quote2 {
    bottom: -30px;
  }

  strong {
    font-size: 8vw;
  }
}
