@import "var.css";
@import "animation.css";

.home-container {
  width: 100%;
  display: flex;
  height: 100%;
  /* border: 10px solid red; */
  align-items: center;
  position: relative;
}

.image-container {
  position: absolute;
  width: 92.5%;
  height: 86%;
  display: grid;
  grid-template-columns: repeat(2, 24%) 27% 22%;
  grid-template-rows: 35% 20% 42%;
  grid-template-areas:
    "img1 img1 img5 desc"
    "img3 img4 img5 desc"
    "img3 img4 img2 desc";
  gap: 20px;
  left: 3%;
  top: 6%;
}

.single-image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
/* 
.single-image-container img {
  transition: transform 0.3s;
} */

.img1-container {
  grid-area: img1;
  animation: slide-right 0.5s ease-in 0.5s forwards,
    show 1s ease-out 0.5s forwards;
}

.home-image1 {
  object-position: -10px center;
  transform: scale(1.25);
}

.img2-container {
  grid-area: img2;
  animation: slide-left 0.5s ease-in 1s forwards, show 0.5s ease-out 1s forwards;
}

.home-image2 {
  object-position: -20px;
}

.img3-container {
  grid-area: img3;
  animation: expand 3s ease-in forwards, show 3s ease-out 1s forwards;
}

.home-image3 {
  object-position: -230px;
}

.img4-container {
  grid-area: img4;
  animation: slide-up 0.5s ease-in 0.6s forwards, show 1s ease-out 0.6s forwards;
}

.home-image4 {
  object-position: -140px;
}

.img5-container {
  grid-area: img5;
  animation: rotate3 2s ease-in forwards, show 3s ease-out 1s forwards;
}

.home-image5 {
  object-position: 0px;
}

.home-image {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform ease-out forwards;
  transition-duration: 500ms;
  z-index: 10;
}

.home-image:hover {
  transform: scale(1.2);
  /* animation: scale 1s linear forwards; */
}

.content-description {
  font-size: 2.8rem;
  grid-area: desc;
  text-align: center;
  background-color: var(--primary1);
  line-height: 100px;
  display: flex;
  align-items: center;
  opacity: 0;
  animation: show 2s ease-out 2.5s forwards;
  padding: 5%;
}

em {
  filter: opacity(1);
  position: absolute;
}

strong {
  font-family: var(--jost);
  color: var(--accent3-1);
  font-style: normal;
  font-size: 3.2rem;
}

.quote1 {
  animation: hide 2s linear 4.5s forwards;
}

.quote2 {
  opacity: 0;
  animation: show 2s linear 6.5s forwards, expand 2s linear 6.5s forwards;
}
