@import "var.css";

.login-signup-container {
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  right: 0;
  padding: 0 0 40px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-family: var(--montserrat);
  background-color: var(--primary1);
}

.login-design1,
.login-design2 {
  position: absolute;
  top: 60%;
  left: -5%;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  box-shadow: 0 0 200px 10px black;
  background: radial-gradient(
    circle at 20%,
    var(--accent1-1),
    var(--accent1-1) 75%,
    var(--accent1-2) 85%,
    var(--primary1)
  );
  transform: rotate(-110deg);
}

.login-design2 {
  top: -5%;
  left: 60%;
  transform: rotate(60deg);
  background: radial-gradient(
    circle at 10%,
    var(--accent1-1),
    var(--accent1-1) 80%,
    var(--accent1-3) 85%,
    var(--primary1)
  );
}

.login-wrapper,
.signup-wrapper {
  position: absolute;
  min-width: 31rem;
  height: 43rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
  /* background-color: #fff; */
  background-color: var(--accent1-3);
  border-radius: 20px;
  box-shadow: 0 0 20px 3px gray;
}

.login-title,
.signup-title {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 3% 0 6%;
}

.signup-title {
  padding-top: 0;
}

.login-signup-button-container {
  width: 23rem;
  min-height: 3rem;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--accent1-2);
}

.login-btn,
.signup-btn,
.login-button,
.signup-button {
  width: 50%;
  height: 100%;
  border: none;
  background-image: linear-gradient(
    10deg,
    var(--accent1-1) 0%,
    var(--accent1-1) 60%,
    var(--primary1) 100%
  );
  color: var(--primary1);
  border-radius: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: transform 100ms ease;
}

.login-btn:hover,
.signup-btn:hover,
.login-button:hover,
.signup-button:hover {
  transform: scale(1.05);
}

.login-wrapper .signup-btn {
  background: transparent;
  color: var(--accent1-1);
}

.login-form,
.signup-form {
  padding: 7% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}

.signup-form {
  padding: 3% 0 0;
}

label {
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-start;
  width: 75%;
  padding: 3.5% 0 0.5%;
}

.login-form > input,
.signup-form > input,
.forgot-password-form > input {
  width: 70%;
  height: 3rem;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 2% 4%;
  box-sizing: border-box;
}

.login-email-input {
  margin-bottom: 10px;
}

.login-password-input {
  margin-bottom: 5px;
}

.login-forgot-password {
  width: 75%;
  font-size: 0.8rem;
  cursor: pointer;
  color: cornflowerblue;
  margin-bottom: 30px;
}

.forgot-password-form {
  width: 90%;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: 0 0 5px 1px gray;
  border-radius: 10px;
  background-color: #fff;
  align-items: center;
}

.forgot-password-info {
  color: steelblue;
  font-size: 0.8rem;
  padding: 2%;
}
.forgot-password-input {
  width: 90% !important;
  padding: 1% 5% !important;
  height: 40px !important;
  background: rgb(250, 220, 220);
}

.forgot-password-submit-button {
  padding: 2% 6%;
  margin: 7px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(
    50deg,
    var(--accent1-1) 0%,
    var(--accent1-1) 60%,
    var(--primary1) 100%
  );
  color: var(--primary1);
  align-self: flex-end;
}

.login-invalid-message {
  color: red;
  font-size: 0.9rem;
  visibility: hidden;
}

.login-button,
.signup-button {
  width: 15.6rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(
    340deg,
    var(--accent1-1) 0%,
    var(--accent1-1) 60%,
    var(--primary1) 100%
  );
  margin-bottom: 40px;
}

.login-button,
.signup-button {
  margin: 20px 0 0;
}

.not-a-member-container {
  display: flex;
  font-size: 0.9rem;
  gap: 5px;
}

.login-signup-now {
  color: steelblue;
  cursor: pointer;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-wrapper .login-btn {
  background: transparent;
  color: var(--accent1-1);
}
