@import "var.css";

.nav-bottom-container {
  position: absolute;
  display: flex;
  bottom: 1%;
  left: 10%;
  gap: 30px;
  font-family: var(--lato);
  font-weight: 300;

  letter-spacing: 0.5px;
  text-decoration: none;
  color: var(--accent1-2);
  text-shadow: 0 0 2px black;
}

.chair {
  display: flex;
  flex-direction: column;
}
