@import "var.css";

.nav-top-container {
  position: absolute;
  display: flex;
  top: 1%;
  right: 10%;
  gap: 30px;
}

.top-links {
  font-family: var(--lato);
  font-weight: 300;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: var(--accent1-2);
  text-shadow: 0 0 2px black;
}
